name: Keep Render Awake

on:
  schedule:
    - cron: "*/5 * * * *"   # every 5 minutes

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping app
        run: |
          curl -L https://predimaint-machinery-prediction.onrender.com/
